@model IEnumerable<KeyForgeGameTracker.Models.Game>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinningPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinningDeck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LosingPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LosingDeck)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinningPlayer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinningDeck.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LosingPlayer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LosingDeck.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
