@model KeyForgeGameTracker.Models.Deck

<div class="row">
    <div class="col-4 offset-8">
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <text>|</text>
        <a asp-action="Details" asp-route-id="@Model.Id">Details</a> <text>|</text>
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <div class="col-sm-2" style="font-weight:bold;">
            @Html.DisplayNameFor(model => model.KeyForgeId)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.KeyForgeId)
        </div>
    </div>
    <div class="col-4">
        <div class="col-sm-2" style="font-weight:bold;">
            @Html.DisplayNameFor(model => model.Expansion)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Expansion)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <div class="col-sm-2" style="font-weight:bold;">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <div class="col-4">
        <div class="col-sm-2" style="font-weight:bold;">
            Owner
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.AppUser.FullName)
        </div>
    </div>
</div>



<div class="row" style="margin-top:50px;">

    @foreach (var house in Model.DeckHouses.Select(x => x.House))
    {
        <div class="col deck-col">

            <div class="row justify-content-md-center">
                <img src="@house.Image" height="100" width="100" />
            </div>

            <div class="row justify-content-md-center">
                <label style="font-size:20px; font-weight:bold; color:#404040">@house.Name</label>
            </div>

            <div class="row">
                <table class="table">
                    <tbody>

                        @foreach (var card in Model.DeckCards.Select(x => x.Card).Where(x => x.HouseId == house.Id))
                        {
                            <tr>
                                <td>
                                    <a href="@card.FrontImage">@card.Title</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    }
</div>