@model KeyForgeGameTracker.ViewModels.DeckIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Decks</h1>

<p>
    <a asp-action="Import">Import New</a>
</p>

<div class="row">
    <div class="col-5">
        <table id="deck-table" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Decks.First().Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var deck in Model.Decks)
                {
                    string selectedRow = "";
                    if (deck.Id == (int?)ViewData["DeckId"])
                    {
                        selectedRow = "selected";
                    }
                    <tr class="@selectedRow" id="@deck.Id">
                        <td>
                            @Html.DisplayFor(modelItem => deck.Name)
                        </td>
                        <td>
                            @foreach (var house in deck.DeckHouses.Select(x => x.House))
                            {
                                <img src="@house.Image" height="20" width="20" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-7">

        <div id="partial">
            No Deck Selected
        </div>

    </div>
</div>




@section Scripts {

    <script type="text/javascript">
        $("#deck-table tr").click(function (e) {

            $.ajax({
                url: '@Url.Action("Details", "Decks")',
                type: 'GET',
                data: { id: e.currentTarget.id },
                success: function (result) {
                    $("#deck-table tr").removeClass('selected');
                    $("#deck-table tr#" + e.currentTarget.id).addClass('selected');
                    $("#partial").html(result);
                }
            });

        });
    </script>

}



