@model KeyForgeGameTracker.ViewModels.DeckIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Decks</h1>

<p>
    <a asp-action="Import">Import New</a>
</p>

<div class="row">
    <div class="col-4">
        <table id="deck-table" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Decks.First().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Decks.First().Expansion)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var deck in Model.Decks)
                {
                    string selectedRow = "";
                    if (deck.Id == (int?)ViewData["DeckId"])
                    {
                        selectedRow = "selected";
                    }
                    <tr class="@selectedRow">
                        <td>
                            @Html.DisplayFor(modelItem => deck.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => deck.Expansion)
                        </td>
                        <td>
                            <a asp-action="Index" asp-route-id="@deck.Id">Select</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-8">

        @if (Model.Houses == null)
        {
            <label>No Deck Selected</label>
        }
        else
        {

            <a asp-action="Edit" asp-route-id="@ViewData["DeckId"]">Edit</a> <text>|</text>
            <a asp-action="Details" asp-route-id="@ViewData["DeckId"]">Details</a> <text>|</text>
            <a asp-action="Delete" asp-route-id="@ViewData["DeckId"]">Delete</a>

            <div class="row">
                @foreach (var house in Model.Houses)
                {
                    <div class="col">
                        <img src="@house.Image" />
                    </div>
                }
            </div>



            <div class="row">

                @foreach (var house in Model.Houses)
                {
                    <div class="col">

                        
                        <table class="table">
                            <tbody>

                                @foreach (var card in Model.Cards.Where(x => x.HouseId == house.Id))
                                {
                                <tr>
                                    <td>
                                        <a href="@card.FrontImage">@card.Title</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        


                    </div>
                }
            </div>
        }

    </div>
</div>
